.layout-bg {
    /* background-color: #fff; */
}
.header {
    position: relative;
    max-width: 100%;
    box-shadow: rgb(240, 241, 242) 0px 2px 8px;
    background: rgb(255, 255, 255);
    padding-left: 0;
    padding-right: 0;
}
.menu-btn {
    font-size: 25px;
    height: 60px;
    height: 100%;
    border: none;
    box-shadow: none;
}
.nav-right {
    text-align: right;
}
.nav-right a {
    color: black;
}
.nav-right a:hover {
    color: #1890ff;
}
.table {
    padding-left: 2%;
    padding-right: 2%;
}