.bg-blue {
    background-color: #1271ea;
    height: 100vh;
    z-index: 0;
}
.bg-light {
    background-color: #f6f8fd;
    height: 100vh;
    z-index: 0;
}

.login-card {
    width: 30%;
    background-color: #fff;
    position: absolute;
    top: 15%;
    left: 40%;
    z-index: 1;
    padding-top: 1%;
    padding-bottom: 1%;
}
.login-form {
    width: 60%;
    margin: auto;
}
.title {
    margin-top: 3%;
    margin-bottom: 3%;
}
.span {
    font-size: 15px;
}

.logo {
    margin-top: -23%;
    position: absolute;
    right: 0;
}

@media only screen and (max-width: 1600px) {
    .login-card {
        width: 35%;
        left: 30%;
    }
    .login-form {
        width: 80%;
    }
}

@media only screen and (max-width: 1121px) {
    .login-card {
        width: 50%;
        left: 30%;
    }
    .login-form {
        width: 80%;
    }
}

@media only screen and (max-width: 777px) {
    .login-card {
        width: 80%;
        left: 10%;
    }
    .login-form {
        width: 100%;
    }
}

@media only screen and (max-width: 450px) {
    .login-card {
        width: 95%;
        top: 10%;
        left: 3%;
    }
    .login-form {
        width: 100%;
    }
}